body {
  font-family: 'Segoe UI', sans-serif;
}

#mainContent {
  padding: 0px;
}

:root {
  --color-pink-yuna: #e2538c;
  --color-pink-default: #ff61a9;
  --color-text-default: #e62c6d;
  --color-pink-light: #fac3e2;
  --glow-stop-1: #ffc400;
  --glow-stop-2: #ff9100;
  --glow-stop-3: #f8682f;
  --glow-stop-4: #e62c6d;
  --glow-stop-5: #b25aff;
  --border-radius-yuna: 25px;
}

.color-default {
  color: var(--color-pink-yuna);
}

.text-pink {
  color: var(--color-text-default) !important;
}

.text-send {
  color: var(--color-pink-light);
}

.default-border-radius {
  border-radius: var(--border-radius-yuna) !important;
}

.default-border-radius:hover {
  border-color: var(--color-pink-default);
  color: aliceblue;
}

.default-border-radius:focus {
  border-color: var(--color-pink-yuna) !important;
  box-shadow: 0 0 0 0.25rem var(--color-pink-light) !important;
}

.shadow-text {
    text-shadow: 1px 1px 3px #842029ab;
}

/* Scrollbar style untuk dark theme */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #3b83f636; /* Biru Jarvis */
  border-radius: 9999px;
  border: 2px solid #1e293b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa;
}

.btn-pink {
  background-color: var(--color-pink-yuna) !important;
}

.btn-pink:hover {
  background-color: var(--color-pink-default) !important;
}

.yuna {
  background-color: #fce7f3;
  color: #831843;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px;
  max-width: 75%;
  align-self: flex-start;
  box-shadow: 0 2px 5px rgba(248, 131, 157, 0.3);
}

  .modal-content-custom {
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
  }

  .modal-header-custom {
    background: linear-gradient(135deg, #fce4ec, #f8bbd0);
    color: #880e4f;
  }

  .modal-footer-custom {
    background-color: #f1f1f1;
  }

.typing-indicator {
  font-style: italic;
  font-size: x-small;
  color: #aaa;
  margin-top: 4px;
  padding-left: 10px;
  animation: blink 1.2s infinite ease-in-out;
}

@keyframes blink {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

@media only screen and (max-width: 768px) {
  .chat-box {
    height: 70dvh !important;
    padding: 0.5rem !important;
  }
  #mainContent {
    padding: 10px;
  }
}